@model montisgal_events.Models.Group.IndexViewModel

@{
    ViewData["Title"] = "Groups";
}

<a asp-controller="Group" asp-action="Create" class="btn btn-primary">Create Group</a>

<table class="table">
    <thead>
        <tr>
            <th scope="col">Name</th>
            <th scope="col">Description</th>
            <th scope="col">Is public</th>
            <th scope="col">Actions</th>
        </tr>
    </thead>
    <tbody>
        @foreach (var group in Model.Groups)
        {
            <tr>
                <th scope="row">@group.Name</th>
                <th scope="row">@group.Description</th>
                <td>
                    <div class="form-check form-switch">
                        <input class="form-check-input" readonly asp-for="@group.IsPublic" type="checkbox">
                    </div>
                </td>
                <td class="d-flex">
                    <form asp-controller="Group" asp-action="Delete" asp-route-id="@group.Id" asp-method="post" class="me-1">
                        <button type="submit" class="btn btn-outline-danger">
                            <i class="bi bi-archive"></i>
                        </button>
                    </form>
                    <button type="button" class="btn btn-outline-primary">
                        <i class="bi bi-pencil"></i>
                    </button>
                </td>
            </tr>
        }
    </tbody>
</table>