{% extends 'base.html.twig' %}

{% block title %}Montisgal Events{% endblock %}

{% block body %}
    <div class="container mt-5">
        <h1 class="text-center">Bienvenido a Montisgal Events</h1>

        <div class="row mt-4">
            <div class="col-md-12">
                <h2>Próximos Eventos</h2>
                <ul class="list-group">
                    {% for event in events %}
                        <li class="list-group-item">
                            <h3>{{ event.name }}</h3>
                            <p>{{ event.description }}</p>
                        </li>
                    {% else %}
                        <li class="list-group-item">No hay eventos próximos.</li>
                    {% endfor %}
                </ul>
            </div>
        </div>
    </div>

    <div>
        {% if is_granted('ROLE_USER') %}
            <div>ROLE_USER</div>
        {% endif %}

        {% if is_granted('ROLE_ADMIN') %}
            <div>ROLE_ADMIN</div>
        {% endif %}

        {% if is_granted('ROLE_SUPER_ADMIN') %}
            <div>ROLE_SUPER_ADMIN</div>
        {% endif %}
    </div>
{% endblock %}
