html {
    height: 100vh;
    width: 100vw;
}

body {
    height: 100vh;
    width: 100vw;
}

#app {
    height: calc(100vh - 56px);
    width: 100vw;
}

#admin-app {
    display: flex;
    height: 100%;
    width: 100%;
}


#admin-side-nav {
    height: 100%;
    width: 20%;
}

#admin-content {
    height: 100%;
    width: 80%;
}

#web-content {
    height: 100%;
    width: 100%;
}