{% extends 'base.html.twig' %}

{% block app %}
    <div id="admin-app">
        <div id="admin-side-nav" class="border-top border-end border-dark bg-secondary">
            {% include '_side_navbar.html.twig' %}
        </div>
        <div id="admin-content" class="border-top border-dark">
            <div class="container">
                {% block content %}{% endblock %}
            </div>
        </div>
    </div>
{% endblock %}
